.checkout-product {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  border-bottom: solid 1px lightgray;
  justify-content: flex-start;
}

.checkoutProduct-info {
  padding-left: 20px;
}

.checkoutProduct-info > * {
  margin-bottom: 10px;
}

.checkoutProduct-info > button {
  background-image: linear-gradient(to bottom, #f7d173, #e2c13e);
  border: solid 1px #a88734;
  margin-top: 10px;
  color: black;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  width: fit-content;
  border-radius: 2px;
  cursor: pointer;
}

.checkoutProduct-btn {
  background-image: linear-gradient(to bottom, #f7d173, #e2c13e);
  border: solid 1px #a88734;
  margin-top: 10px;
  color: black;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  width: fit-content;
  border-radius: 2px;
  cursor: pointer;
}

.checkoutProduct-image {
  width: 120px;
  height: 180px;
  object-fit: contain;
}

.checkoutProduct-title {
  font-size: 17px;
  font-weight: 700;
}

.variant-cart {
  background: whitesmoke;
  border-radius: 8px;
  display: flex;
  align-items: center;
  padding: 7px;
  text-transform: uppercase;
  width: fit-content;
}

.quantity-container {
  display: flex;
  align-items: center;
}

.amount-display {
  width: 30px;
  height: 30px;
  border-radius: 8px;
  border: solid 1px black;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 5px;
}

.qty-btn {
  width: 25px;
  height: 25px;
  border-radius: 8px;
  border: solid 1px black;
  background-color: transparent;
}
