.pizzas-container {
  background: white;
  width: 260px;
  border: none;
  border-radius: 15px;
  overflow: hidden;
  /* padding: 20px; */
  margin-bottom: 30px;
  height: 460px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  box-shadow: 2px 3px 9px 1px #bdbdbd;
}

.pizzas-container > img {
  width: 100%;
  object-fit: cover;
  height: 230px;
}

.pizzas-body {
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
}

.pizzas-info {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  margin-bottom: 15px;
  align-items: center;
}

.pizzas-desc {
  display: flex;
  gap: 10px;
  font-weight: 300;
  align-items: center;
}

.pizzas-desc > * {
  margin-bottom: 10px;
}

.variant {
  background: whitesmoke;
  border-radius: 8px;
  display: flex;
  align-items: center;
  padding: 7px;
  text-transform: uppercase;
}

.pizzas-price {
  background: #24963f;
  color: white;
  padding: 6px 8px;
  border-radius: 5px;
  font-weight: 500;
}

.add-btn {
  width: 70px;
  text-align: center;
  margin: 5px auto;
  border: solid 2px #ff5959;
  background: transparent;
  border-radius: 5px;
  padding: 7px 15px;
}

.add-btn:hover {
  cursor: pointer;
}

.add-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.quantity-container {
  display: flex;
  align-items: center;
}

.amount-display {
  width: 30px;
  height: 30px;
  border-radius: 8px;
  border: solid 1px black;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 5px;
}

.qty-btn {
  width: 25px;
  height: 25px;
  border-radius: 8px;
  border: solid 1px black;
  background-color: transparent;
}
